trainer:
  name: Trainer
  num_epochs: 90
  output_dir: experiments/cifar100

model:
  name: efficientnet_b0
  num_classes: 100

dataset:
  name: CIFAR100DataLoader
  root: data
  batch_size: 16
  image_size: 224
  num_workers: 16

optimizer:
  name: SGD
  lr: 1.25e-2
  weight_decay: 1.e-4

scheduler:
  name: MultiStepLR
  milestones: [30, 60, 80]
  gamma: 0.1
